<!doctype html>

<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Blue Cross Blue Shield MA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <base href="http://localhost:4201/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="/assets/fonts/lib/googleFonts/icon.css" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

  <link href='/assets/fonts/lib/googleFonts/css.css' rel='stylesheet' type='text/css'>
  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,greek,greek-ext,latin-ext,cyrillic' rel='stylesheet'
    type='text/css'> -->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <script defer type="text/javascript" src="/assets/fonts/lib/fontawesome/all.js"></script>

  <!-- cdnjs -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.7.3/video-js.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.7.3/video.js"></script>
</head>

<body style="overflow: hidden;">
  <div style="width: 100%;overflow: hidden;">

    <!-- Welcome to my hive - app component Level 1 component -->

    <router-outlet>
    </router-outlet>
  </div>
</body>

</html>