<section class="vedio-adv-horz-marquee" *ngIf="vedioHorzMarqueePageData?.videoFilesToPlay?.length>0">
  <div class="vedioSection">
    <video #bannerVideo autoplay loop>
      <source [src]="vedioHorzMarqueePageData?.videoFilesToPlay[0].name" type="video/mp4"> Your browser does not support the video tag.
    </video>
  </div>
  <div class="banner level-2-banner" *ngIf="vedioHorzMarqueePageData?.advsToDisplay?.level2Advs?.display">
    <p>
      <b *ngFor="let advItem of vedioHorzMarqueePageData?.advsToDisplay?.level2Advs?.contents">
        {{advItem.advTitle}}: {{advItem.advText}}</b>
    </p>
  </div>
  <div class="banner level-1-banner" *ngIf="vedioHorzMarqueePageData?.advsToDisplay?.level1Advs?.display">
    <p>
      <b *ngFor="let advItem of vedioHorzMarqueePageData?.advsToDisplay?.level1Advs?.contents">
        {{advItem.advTitle}}: {{advItem.advText}}</b>
    </p>
  </div>
  <div class="banner" *ngIf="vedioHorzMarqueePageData?.advsToDisplay?.normalAdvs?.display">
    <p>
      <b *ngFor="let advItem of vedioHorzMarqueePageData?.advsToDisplay?.normalAdvs?.contents">
        <i class="fa fa-american-sign-language-interpreting"> </i>
        &nbsp;&nbsp;{{advItem.advTitle}}: {{advItem.advText}}&nbsp;&nbsp;
      </b>
    </p>
  </div>
</section>